<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{css/estilos.css}" />
</head>

<body class="font-dosis text-white bg-gray-900 font-semibold">
    <nav th:replace="~{navbar :: sidebar}"></nav>
    <!-- Contenedor página -->
    <main id="main" class="ml-32 mt-5 w-[85%] text-white flex items-center justify-center ">
        <h1
            class="w-full font-extrabold text-8xl text-center outline-8 outline-double outline-offset-8 outline-sky-950">
            Panel de
            Control</h1>



    </main>
    <script>
        let rol = document.getElementById("rol");
        let sidebar = document.getElementById("sidebar");
        let main = document.getElementById("main");
        function desplegar() {
            if (sidebar.classList.contains("w-20")) {
                sidebar.classList.remove("w-20");
                sidebar.classList.add("w-32");
                main.classList.remove("ml-32");
                main.classList.add("ml-40");
                document.getElementsByName("h2").forEach(element => {
                    element.classList.remove("hidden")

                });
            } else {
                document.getElementsByName("h2").forEach(element => {
                    element.classList.add("opacity-0")
                    setTimeout(() => {
                        element.classList.remove("opacity-0")
                        element.classList.add("hidden")
                        main.classList.remove("ml-40");
                        main.classList.add("ml-32");
                    }, 250);


                });
                setTimeout(() => {
                    sidebar.classList.remove("w-32");
                    sidebar.classList.add("w-20");

                }, 250);
            }
        }
    </script>
</body>

</html>