<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<form th:action="@{/guardarEdicion}" th:object="${citaE}" method="post">
    <input type="hidden" name="id" th:field="*{id}" />
    <div>
        <label>Usuario</label>
        <input type="text" name="usuario" th:field="*{usuario}" required />
    </div>
    <div>
        <label>Fecha</label>
        <input type="datetime-local" name="fechaStr" id="fechaStr" th:field="*{fecha}" required>
    </div>

    <div>
        <label>Objetivo</label>
        <input type="text" name="objetivo" th:field="*{objetivo}" required />
    </div>
    <div>
        <label>Estado</label>
        <input type="text" name="estado" th:field="*{estado}" required />
    </div>
    <button type="submit">Enviar</button>
</form>



</body>

</html>