<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{css/estilos.css}" />
</head>

<body class=" font-dosis">
  <!--NAVBAR INICIO-->
  <div th:replace="~{navbar :: navbar}"></div>
  <!--NAVBAR FINAL-->

  <!--Inicio CONTENEDOR PÁGINA-->
  <div class="mt-10">
    <div class="h-[30rem] w-screen flex items-center justify-center bg-gray-900">
      <h2 class="text-white outline-8 outline outline-offset-8 animate-fadeIn outline-white font-black   text-5xl">
        "Creando estilo, cosiendo emociones."
      </h2>
    </div>
  </div>
  <!--Fin CONTENEDOR PÁGINA-->
  <!-- Desplegables inicio -->
  <div th:replace="~{navbar :: inicioSesion}"></div>
  <div th:replace="~{navbar :: registro}"></div>
  <div th:replace="~{navbar :: burguer}"></div>
  <!-- Desplegables -->

  <!-- Scripts -->
  <script src="../static/js/modalsIndex.js" th:src="@{/js/modalsIndex.js}"></script>
</body>

</html>