<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>permisos</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}" />
</head>

<body class="font-dosis text-white bg-gray-900 font-semibold">
    <nav th:replace="~{navbar :: sidebar}"></nav>
    <!-- Contenedor página -->
    <main id="main" class="ml-32 mt-5 w-[85%] text-white">
        <h1
            class="w-full font-extrabold text-8xl text-center outline-8 outline-double outline-offset-8 outline-sky-950 mb-10">
            Permisos

        </h1>
        <button title="Agregar estado" onclick="abrirModalRegistro()"
                class="mx-auto flex justify-center items-center text-white font-bold hover:bg-blue-400 bg-blue-950 py-5 text-xl mt-10 w-[42rem] h-16 rounded-xl group transition duration-500 hover:shadow-2xl hover:scale-105">

            <span class="group-hover:hidden">Agregar

            </span><span class="hidden group-hover:inline transition duration-500 text-white"><span
                      style="font-size: 2.5rem" class="mt-2 material-symbols-outlined">
                    add_circle
                </span></span>
        </button>
        <div class="grid grid-cols-3 gap-10 mt-12">
            <div th:each="permiso:${permisos}" class=" bg-blue-900 shadow-2xl mb-5 w-[21rem] h-40 rounded-lg p-2 flex flex-col hover:flex-row
                 flex-nowrap justify-center items-center group hover:bg-blue-600 transition duration-700 ">
                <h3 class=" text-4xl group-hover:hidden font-bold" th:text="${permiso.nombre}">
                </h3>
                <div class="flex gap-2 group-hover:hidden flex-nowrap justify-center items-center mt-2  ">
                    <h4 class="text-gray-300   font-light text-sm  " th:text="${permiso.descripcion}"></h4>
                </div>
                <a th:href="'/listarPermisos/'+ ${permiso.id} + '?action=edit'"
                   class=" hidden group-hover:inline-block cursor-pointer"><span
                          class="material-symbols-outlined  transition-all duration-700 block hover:text-gray-200 p-3 "
                          style="font-size: 2rem">
                        edit
                    </span></a>
                <a th:href="'/listarPermisos/'+ ${permiso.id} + '?action=borrar'"
                   class=" hidden transition-all duration-700 hover:text-gray-200 group-hover:inline-block cursor-pointer"><span
                          class="material-symbols-outlined p-3 " style="font-size: 2rem">
                        delete
                    </span></a>
            </div>
        </div>


        </div>
        <div id="modal"
             class="fixed inset-0  hidden  items-center transition-opacity duration-300 justify-center bg-gradient-to-br from-blue-500 via-blue-800 to-sky-500 w-screen h-screen ">
            <button onclick="cerrarModalRegistro()"
                    class="absolute top-2 right-7 text-white hover:scale-90 hover:text-gray-200 transition duration-500"><span
                      style="font-size: 3rem;" class="material-symbols-outlined">
                    close
                </span></button>
            <form method="post" th:action="@{/guardarPermiso}" th:object="${permiso}"
                  class=" bg-blue-950 shadow-blue-800 group shadow-lg mb-5  w-[21rem] h-40 rounded-lg p-2 flex flex-col flex-nowrap justify-center items-center group hover:bg-blue-900 transition duration-700 absolute ">
                <input required type="text" th:field="*{nombre}"
                       class="text-3xl texto  text-center border-none outline-none group-hover:bg-blue-900 transition block mx-auto  duration-700 bg-blue-950  font-bold placeholder:text-white  "
                       placeholder="Nombre Permiso">
                <div class="flex gap-2  flex-nowrap justify-center items-center mt-2  ">
                    <textarea required
                              class="font-light text-sm texto text-center border-none outline-none group-hover:bg-blue-900 transition block mx-auto  duration-700 bg-blue-950 mt-2 overflow-hidden resize-none  whitespace-normal text-white text-md  focus:border-none focus:outline-none rounded-l  placeholder:text-white"
                              th:field="*{descripcion}" placeholder="Ingresa la descripción del permiso"></textarea>
                    <input type="submit" class="text-pink-700 hidden boton cursor-pointer" value="Agregar">
                </div>


            </form>
        </div>
        <div th:if="${editPermiso}"
             class="fixed inset-0 flex items-center transition-opacity duration-300 justify-center bg-gradient-to-br from-blue-500 via-blue-800 to-sky-500 w-screen h-screen ">
            <a href="/listarPermisos"
               class="absolute top-2 right-7 text-white hover:scale-90 hover:text-gray-200 transition duration-500"><span
                      style="font-size: 3rem;" class="material-symbols-outlined">
                    close
                </span></a>
            <form method="post" th:action="@{/guardarPermiso}" th:object="${permiso}"
                  class=" bg-blue-950 shadow-blue-800 group shadow-lg mb-5  w-[21rem] h-40 rounded-lg p-2 flex flex-col flex-nowrap justify-center items-center group hover:bg-blue-900 transition duration-700 absolute ">
                <input type="hidden" th:field="*{id}" />
                <input required type="text" th:field="*{nombre}"
                       class="text-3xl texto  text-center border-none outline-none group-hover:bg-blue-900 transition block mx-auto  duration-700 bg-blue-950  font-bold placeholder:text-white  "
                       placeholder="Nombre Permiso">
                <div class="flex gap-2  flex-nowrap justify-center items-center mt-2  ">
                    <textarea required
                              class="font-light text-sm texto text-center border-none outline-none group-hover:bg-blue-900 transition block mx-auto  duration-700 bg-blue-950 mt-2 overflow-hidden resize-none  whitespace-normal text-white text-md  focus:border-none focus:outline-none rounded-l  placeholder:text-white"
                              th:field="*{descripcion}" placeholder="Ingresa la descripción del permiso"></textarea>
                    <input type="submit" class="text-pink-700 hidden boton cursor-pointer" value="Editar">
                </div>

            </form>
        </div>
        <div th:if="${borrarPermiso}"
             class="fixed inset-0 flex items-center transition-opacity duration-300 justify-center bg-gradient-to-br from-blue-900 via-blue-500 to-sky-950 w-screen h-screen ">
            <a href="/listarPermisos"
               class="absolute top-2 right-7 text-white hover:scale-90 hover:text-gray-200 transition duration-500"><span
                      style="font-size: 3rem;" class="material-symbols-outlined">
                    close
                </span></a>
            <div
                 class="w-[32rem] h-80 animate-zoomOut text-white font-mono hover:shadow-inner text-center shadow-lg shadow-blue-900 bg-blue-950 rounded-xl">
                <span class="material-symbols-outlined mt-6 block shadow-inner p-3" style="font-size: 5rem">
                    delete
                </span>
                <h2 class="font-bold text-2xl mt-6">¿Deseas eliminar la cita?</h2>
                <div class="mx-auto mt-6 flex flex-nowrap justify-center">
                    <a href="/listarPermisos"
                       class="transition duration-300 delay-75 ml-6 text-center bg-red-500 p-3 h-12 rounded-md hover:scale-105 hover:shadow-md inline-block hover:shadow-red-800 w-28 hover:bg-red-600 group">
                        <span class="font-semibold group-hover:font-bold group-hover:hidden">Cancelar</span>
                        <span class="group-hover:block hidden">
                            <span class="material-symbols-outlined group-hover:block">
                                close
                            </span>
                        </span></a><a id="enviar" th:href="@{/eliminarPermiso/}+${permiso.id}" class=" ml-10 transition duration-300 delay-75 text-center bg-green-600 p-3 rounded-md
                       hover:scale-105 hover:shadow-md inline-block hover:shadow-green-800 w-28 h-12 hover:bg-green-500
                       group"><span class="font-semibold group-hover:font-bold group-hover:hidden">Aceptar</span>
                        <span class="group-hover:block hidden">
                            <span class="material-symbols-outlined group-hover:block">
                                done
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <script>
        let rol = document.getElementById(" rol"); let sidebar = document.getElementById("sidebar"); let
            main = document.getElementById("main"); function desplegar() {
                if
                    (sidebar.classList.contains("w-20")) {
                    sidebar.classList.remove("w-20");
                    sidebar.classList.add("w-32"); main.classList.remove("ml-32");
                    main.classList.add("ml-40"); document.getElementsByName("h2").forEach(element => {
                        element.classList.remove("hidden")

                    });
                } else {
                    document.getElementsByName("h2").forEach(element => {
                        element.classList.add("opacity-0")
                        setTimeout(() => {
                            element.classList.remove("opacity-0")
                            element.classList.add("hidden")
                            main.classList.remove("ml-40");
                            main.classList.add("ml-32");
                        }, 250);


                    });
                    setTimeout(() => {
                        sidebar.classList.remove("w-32");
                        sidebar.classList.add("w-20");

                    }, 250);
                }
            }
        function cerrarModalRegistro(modalRegistro = document.getElementById('modal')) {
            modalRegistro.classList.remove("animate-[fadeIn_0.4s]");
            modalRegistro.classList.add("animate-[fadeOut_0.4s]");
            setTimeout(function () {
                modalRegistro.classList.remove("flex");
                modalRegistro.classList.add("hidden");
                modalRegistro.classList.remove("animate-[fadeOut_0.4s]");
                modalRegistro.classList.add("animate-[fadeIn_0.4s]");
            }, 400);
        }
        function abrirModalRegistro(modalRegistro = document.getElementById('modal')) {
            modalRegistro.classList.remove("hidden");
            modalRegistro.classList.add("flex");
        }
    </script>
</body>

</html>